
@font-face {
    font-family:'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family:'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
